In [1]:
import pandas as pd
import numpy as np
pd.options.mode.chained_assignment = None

# Dataset 1: Divvy Bike Data

In [2]:
# Read the various csv files from Nov 2019 to Oct 2020 (includes Oct 2019 as well)
d1 = pd.read_csv("Divvy_Trips_2019_Q4.csv")
d2 = pd.read_csv("divvydata_Jan-Mar2020.csv")
d3 = pd.read_csv("202004-divvy-tripdata.csv")
d4 = pd.read_csv("202005-divvy-tripdata.csv")
d5 = pd.read_csv("202006-divvy-tripdata.csv")
d6 = pd.read_csv("202007-divvy-tripdata.csv")
d7 = pd.read_csv("202008-divvy-tripdata.csv")
d8 = pd.read_csv("202009-divvy-tripdata.csv")
d9 = pd.read_csv("202010-divvy-tripdata.csv")

In [3]:
# d1 (2019 Quarter data) has some columns with differing names; renaming to match the other data
d1.rename({'start_station_nam': 'start_station_name'}, inplace=True, axis=1)
d1 = d1[['ride_id', 'started_at', 'ended_at', 'start_station_name', 'start_station_id', 'end_station_name', 'end_station_id', 'member_casual']]
d1.head()

,ride_id,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,member_casual
0,25223640,10/1/2019 0:01,10/1/2019 0:17,Sheffield Ave & Kingsbury St,20,Leavitt St & Armitage Ave,309,member
1,25223641,10/1/2019 0:02,10/1/2019 0:06,Throop (Loomis) St & Taylor St,19,Morgan St & Polk St,241,member
2,25223642,10/1/2019 0:04,10/1/2019 0:18,Milwaukee Ave & Grand Ave,84,Wabash Ave & Grand Ave,199,member
3,25223643,10/1/2019 0:04,10/1/2019 0:43,Lakeview Ave & Fullerton Pkwy,313,Kedzie Ave & Palmer Ct,290,member
4,25223644,10/1/2019 0:04,10/1/2019 0:35,Ashland Ave & Division St,210,Western Ave & Congress Pkwy,382,member

In [4]:
# merge the dataframes for all the months to get the complete data for the Divvy bikes
divvy_data = pd.concat([d1, d2, d3, d4, d5, d6, d7, d8, d9])
divvy_data

,ride_id,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,member_casual
0,25223640,10/1/2019 0:01,10/1/2019 0:17,Sheffield Ave & Kingsbury St,20.0,Leavitt St & Armitage Ave,309.0,member
1,25223641,10/1/2019 0:02,10/1/2019 0:06,Throop (Loomis) St & Taylor St,19.0,Morgan St & Polk St,241.0,member
2,25223642,10/1/2019 0:04,10/1/2019 0:18,Milwaukee Ave & Grand Ave,84.0,Wabash Ave & Grand Ave,199.0,member
3,25223643,10/1/2019 0:04,10/1/2019 0:43,Lakeview Ave & Fullerton Pkwy,313.0,Kedzie Ave & Palmer Ct,290.0,member
4,25223644,10/1/2019 0:04,10/1/2019 0:35,Ashland Ave & Division St,210.0,Western Ave & Congress Pkwy,382.0,member
...,...,...,...,...,...,...,...,...
388648,73F13E3E24954C57,10/28/2020 8:31,10/28/2020 8:37,Leavitt St & Division St,658.0,Wood St & Augusta Blvd,657.0,member
388649,6F68E6F5704E2C08,10/6/2020 10:04,10/6/2020 10:13,Aberdeen St & Jackson Blvd,21.0,Loomis St & Lexington St,320.0,member
388650,79C12697BEBF5B0A,10/15/2020 6:54,10/15/2020 7:22,California Ave & Altgeld St,502.0,California Ave & Altgeld St,502.0,casual
388651,907E10168C2F53FE,10/16/2020 10:29,10/16/2020 10:50,Lincoln Ave & Diversey Pkwy,152.0,Ashland Ave & Blackhawk St,333.0,casual
388652,A12644A5B2CA6B4E,10/31/2020 20:13,10/31/2020 20:24,Clark St & Newport St,632.0,Clark St & Winnemac Ave,325.0,casual

In [5]:
# Convert the date columns (start and end times) in the divvy data to datetime format 
divvy_data['started_at'] = pd.to_datetime(divvy_data.started_at)
divvy_data['ended_at'] = pd.to_datetime(divvy_data.ended_at)

# make new columns 'Year', 'Month', 'Day' and 'Hour' based on the 'started_at' column
divvy_data['Year'] = divvy_data.started_at.dt.year
divvy_data['Month'] = divvy_data.started_at.dt.month
divvy_data['Day'] = divvy_data.started_at.dt.day
divvy_data['Hour'] = divvy_data.started_at.dt.hour

# save the dataframe to a csv
divvy_data.to_csv("divvy_final.csv", index=False)
divvy_data

,ride_id,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,member_casual,Year,Month,Day,Hour
0,25223640,2019-10-01 00:01:00,2019-10-01 00:17:00,Sheffield Ave & Kingsbury St,20.0,Leavitt St & Armitage Ave,309.0,member,2019,10,1,0
1,25223641,2019-10-01 00:02:00,2019-10-01 00:06:00,Throop (Loomis) St & Taylor St,19.0,Morgan St & Polk St,241.0,member,2019,10,1,0
2,25223642,2019-10-01 00:04:00,2019-10-01 00:18:00,Milwaukee Ave & Grand Ave,84.0,Wabash Ave & Grand Ave,199.0,member,2019,10,1,0
3,25223643,2019-10-01 00:04:00,2019-10-01 00:43:00,Lakeview Ave & Fullerton Pkwy,313.0,Kedzie Ave & Palmer Ct,290.0,member,2019,10,1,0
4,25223644,2019-10-01 00:04:00,2019-10-01 00:35:00,Ashland Ave & Division St,210.0,Western Ave & Congress Pkwy,382.0,member,2019,10,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...
388648,73F13E3E24954C57,2020-10-28 08:31:00,2020-10-28 08:37:00,Leavitt St & Division St,658.0,Wood St & Augusta Blvd,657.0,member,2020,10,28,8
388649,6F68E6F5704E2C08,2020-10-06 10:04:00,2020-10-06 10:13:00,Aberdeen St & Jackson Blvd,21.0,Loomis St & Lexington St,320.0,member,2020,10,6,10
388650,79C12697BEBF5B0A,2020-10-15 06:54:00,2020-10-15 07:22:00,California Ave & Altgeld St,502.0,California Ave & Altgeld St,502.0,casual,2020,10,15,6
388651,907E10168C2F53FE,2020-10-16 10:29:00,2020-10-16 10:50:00,Lincoln Ave & Diversey Pkwy,152.0,Ashland Ave & Blackhawk St,333.0,casual,2020,10,16,10
388652,A12644A5B2CA6B4E,2020-10-31 20:13:00,2020-10-31 20:24:00,Clark St & Newport St,632.0,Clark St & Winnemac Ave,325.0,casual,2020,10,31,20

# Dataset 2 - Weather Data

In [6]:
# read the weather data from the csv file into a pandas dataframe
weather = pd.read_csv("weather.csv")
weather

,Date,d,Time,Temperature,Humidity,Wind Speed,Wind Gust,Precipitation,Condition
0,11/1/2019 23:53,11/1/2019,23:53,27 F,81,7 mph,0 mph,0.0 in,Fair
1,11/1/2019 0:53,11/1/2019,0:53,26 F,81,8 mph,0 mph,0.0 in,Fair
2,11/1/2019 1:53,11/1/2019,1:53,25 F,85,8 mph,0 mph,0.0 in,Fair
3,11/1/2019 2:53,11/1/2019,2:53,26 F,84,6 mph,0 mph,0.0 in,Fair
4,11/1/2019 3:53,11/1/2019,3:53,25 F,88,5 mph,0 mph,0.0 in,Fair
...,...,...,...,...,...,...,...,...,...
10331,10/31/2020 18:53,10/31/2020,18:53,55 F,51,15mph,30mph,0.0in,Partly Cloudy
10332,10/31/2020 19:53,10/31/2020,19:53,54 F,55,18mph,29mph,0.0in,Mostly Cloudy
10333,10/31/2020 20:53,10/31/2020,20:53,54 F,55,18mph,29mph,0.0in,Cloudy
10334,10/31/2020 21:53,10/31/2020,21:53,52 F,66,16mph,30mph,0.0in,Cloudy
10335,10/31/2020 22:53,10/31/2020,22:53,53 F,61,16mph,25mph,0.0in,Mostly Cloudy

In [7]:
# extract the relevant columns needed for our predictions
weather = weather[['Date', 'Temperature', 'Humidity', 'Wind Speed', 'Wind Gust', 'Precipitation', 'Condition']]
weather.head()

,Date,Temperature,Humidity,Wind Speed,Wind Gust,Precipitation,Condition
0,11/1/2019 23:53,27 F,81,7 mph,0 mph,0.0 in,Fair
1,11/1/2019 0:53,26 F,81,8 mph,0 mph,0.0 in,Fair
2,11/1/2019 1:53,25 F,85,8 mph,0 mph,0.0 in,Fair
3,11/1/2019 2:53,26 F,84,6 mph,0 mph,0.0 in,Fair
4,11/1/2019 3:53,25 F,88,5 mph,0 mph,0.0 in,Fair

In [8]:
# convert the weather date to datetime format
weather['Date'] = pd.to_datetime(weather.Date)

# create new columns 'Year', 'Month', 'Day' and 'Hour' based on the date column
weather['Year'] = weather.Date.dt.year
weather['Month'] = weather.Date.dt.month
weather['Day'] = weather.Date.dt.day
weather['Hour'] = weather.Date.dt.hour

# save the dataframe to a csv file
weather.to_csv("weather_final.csv", index=False)
weather

,Date,Temperature,Humidity,Wind Speed,Wind Gust,Precipitation,Condition,Year,Month,Day,Hour
0,2019-11-01 23:53:00,27 F,81,7 mph,0 mph,0.0 in,Fair,2019,11,1,23
1,2019-11-01 00:53:00,26 F,81,8 mph,0 mph,0.0 in,Fair,2019,11,1,0
2,2019-11-01 01:53:00,25 F,85,8 mph,0 mph,0.0 in,Fair,2019,11,1,1
3,2019-11-01 02:53:00,26 F,84,6 mph,0 mph,0.0 in,Fair,2019,11,1,2
4,2019-11-01 03:53:00,25 F,88,5 mph,0 mph,0.0 in,Fair,2019,11,1,3
...,...,...,...,...,...,...,...,...,...,...,...
10331,2020-10-31 18:53:00,55 F,51,15mph,30mph,0.0in,Partly Cloudy,2020,10,31,18
10332,2020-10-31 19:53:00,54 F,55,18mph,29mph,0.0in,Mostly Cloudy,2020,10,31,19
10333,2020-10-31 20:53:00,54 F,55,18mph,29mph,0.0in,Cloudy,2020,10,31,20
10334,2020-10-31 21:53:00,52 F,66,16mph,30mph,0.0in,Cloudy,2020,10,31,21
10335,2020-10-31 22:53:00,53 F,61,16mph,25mph,0.0in,Mostly Cloudy,2020,10,31,22

In [9]:
# merge both the divvy and weather data based on the extracted year, month, day and hour
merged_df = divvy_data.merge(weather, how='inner', on=['Year', 'Month', 'Day', 'Hour'])

# drop the 'Date' column from the merged data 
merged_df.drop(['Date'], axis=1, inplace=True)
merged_df

,ride_id,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,member_casual,Year,Month,Day,Hour,Temperature,Humidity,Wind Speed,Wind Gust,Precipitation,Condition
0,25612325,2019-11-01 00:00:00,2019-11-01 00:08:00,Ellis Ave & 55th St,420.0,Harper Ave & 59th St,425.0,member,2019,11,1,0,26 F,81,8 mph,0 mph,0.0 in,Fair
1,25612326,2019-11-01 00:01:00,2019-11-01 00:30:00,Western Ave & Winnebago Ave,116.0,Morgan St & Polk St,241.0,casual,2019,11,1,0,26 F,81,8 mph,0 mph,0.0 in,Fair
2,25612327,2019-11-01 00:01:00,2019-11-01 00:38:00,Western Ave & Winnebago Ave,116.0,May St & Taylor St,22.0,member,2019,11,1,0,26 F,81,8 mph,0 mph,0.0 in,Fair
3,25612328,2019-11-01 00:02:00,2019-11-01 00:09:00,Lincoln Ave & Winona St,472.0,Maplewood Ave & Peterson Ave,455.0,member,2019,11,1,0,26 F,81,8 mph,0 mph,0.0 in,Fair
4,25612329,2019-11-01 00:02:00,2019-11-01 00:04:00,Clinton St & Madison St,77.0,Clinton St & Washington Blvd,91.0,member,2019,11,1,0,26 F,81,8 mph,0 mph,0.0 in,Fair
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3803530,7BBA6E8E6E19BA46,2020-10-22 05:17:00,2020-10-22 05:21:00,NaN,NaN,NaN,NaN,member,2020,10,22,5,49 F,90,16mph,0mph,0.0in,Light Rain
3803531,5DE9694204DED47B,2020-10-22 05:16:00,2020-10-22 05:17:00,NaN,NaN,NaN,NaN,member,2020,10,22,5,48 F,93,9mph,22mph,0.0in,Light Drizzle
3803532,5DE9694204DED47B,2020-10-22 05:16:00,2020-10-22 05:17:00,NaN,NaN,NaN,NaN,member,2020,10,22,5,48 F,93,13mph,0mph,0.0in,Light Rain
3803533,5DE9694204DED47B,2020-10-22 05:16:00,2020-10-22 05:17:00,NaN,NaN,NaN,NaN,member,2020,10,22,5,48 F,93,16mph,0mph,0.0in,Light Rain
3803534,5DE9694204DED47B,2020-10-22 05:16:00,2020-10-22 05:17:00,NaN,NaN,NaN,NaN,member,2020,10,22,5,49 F,90,16mph,0mph,0.0in,Light Rain

# Dataset 3: Holidays

In [10]:
holidays = pd.read_csv("list-us-public-holidays-454j.csv", encoding="ISO-8859-1")
holidays

,SNo,Unnamed: 1,Date,Official Name,Remarks
0,1.0,11/11/2019,NaN,Veterans Day,NaN
1,2.0,11/28/2019,NaN,Thanksgiving Day,NaN
2,3.0,12/25/2019,NaN,Christmas,NaN
3,4.0,1/1/2020,January 1(Fixed),New Year's Day,Celebrates beginning of the Gregorian calendar...
4,5.0,1/20/2020,Third Monday in January,"Birthday of Martin Luther King, Jr.","Honors Dr. Martin Luther King, Jr., Civil Righ..."
5,6.0,1/20/2020,First January 20 following a Presidential elec...,Inauguration Day,Observed only by federal government employees ...
6,7.0,2/17/2020,Third Monday in February,Washington's Birthday,Washington's Birthday was first declared a fed...
7,8.0,5/25/2020,Last Monday in May,Memorial Day,Honors the nation's war dead from the Civil Wa...
8,9.0,7/4/2020,4-Jul,Independence Day,Celebrates the signing of the Declaration of I...
9,10.0,9/7/2020,First Monday in September,Labor Day,Celebrates the achievements of workers and the...
10,11.0,10/12/2020,Second Monday in October,Columbus Day,"Honors Christopher Columbus, traditional disco..."
11,NaN,NaN,NaN,NaN,NaN
12,NaN,NaN,NaN,NaN,NaN
13,NaN,NaN,NaN,NaN,NaN

In [11]:
holidays.drop(holidays.tail(3).index,inplace=True)

In [12]:
holidays

,SNo,Unnamed: 1,Date,Official Name,Remarks
0,1.0,11/11/2019,NaN,Veterans Day,NaN
1,2.0,11/28/2019,NaN,Thanksgiving Day,NaN
2,3.0,12/25/2019,NaN,Christmas,NaN
3,4.0,1/1/2020,January 1(Fixed),New Year's Day,Celebrates beginning of the Gregorian calendar...
4,5.0,1/20/2020,Third Monday in January,"Birthday of Martin Luther King, Jr.","Honors Dr. Martin Luther King, Jr., Civil Righ..."
5,6.0,1/20/2020,First January 20 following a Presidential elec...,Inauguration Day,Observed only by federal government employees ...
6,7.0,2/17/2020,Third Monday in February,Washington's Birthday,Washington's Birthday was first declared a fed...
7,8.0,5/25/2020,Last Monday in May,Memorial Day,Honors the nation's war dead from the Civil Wa...
8,9.0,7/4/2020,4-Jul,Independence Day,Celebrates the signing of the Declaration of I...
9,10.0,9/7/2020,First Monday in September,Labor Day,Celebrates the achievements of workers and the...
10,11.0,10/12/2020,Second Monday in October,Columbus Day,"Honors Christopher Columbus, traditional disco..."

In [13]:
holidays = holidays[['Unnamed: 1', 'Official Name', 'Remarks']]
holidays.rename({'Unnamed: 1': 'Date'}, axis=1, inplace=True)
holidays

,Date,Official Name,Remarks
0,11/11/2019,Veterans Day,NaN
1,11/28/2019,Thanksgiving Day,NaN
2,12/25/2019,Christmas,NaN
3,1/1/2020,New Year's Day,Celebrates beginning of the Gregorian calendar...
4,1/20/2020,"Birthday of Martin Luther King, Jr.","Honors Dr. Martin Luther King, Jr., Civil Righ..."
5,1/20/2020,Inauguration Day,Observed only by federal government employees ...
6,2/17/2020,Washington's Birthday,Washington's Birthday was first declared a fed...
7,5/25/2020,Memorial Day,Honors the nation's war dead from the Civil Wa...
8,7/4/2020,Independence Day,Celebrates the signing of the Declaration of I...
9,9/7/2020,Labor Day,Celebrates the achievements of workers and the...
10,10/12/2020,Columbus Day,"Honors Christopher Columbus, traditional disco..."

In [14]:
holidays.Date = pd.to_datetime(holidays.Date)
print(type(holidays['Date'][0]))
"""# holidays.drop('Remarks', axis=1, inplace=True)
holidays['Year'] = holidays.Date.dt.year
holidays['Month'] = holidays.Date.dt.month
holidays['Day'] = holidays.Date.dt.day
holidays"""
holidays
holidays[holidays['Date'] == "2019-12-25"]

<class 'pandas._libs.tslibs.timestamps.Timestamp'>

        Date Official Name Remarks
2 2019-12-25     Christmas     NaN

In [15]:
vacations = {'Spring Break': pd.date_range('4/6/2020', '4/10/2020')}
# print(vacations)

# for date in pd.date_range('12/1/2019', '12/1/2020'):
#     print(type(date))
for desc, hols in vacations.items():
    for hol in hols:
        hol=pd.to_datetime(hol).date()
        holidays.loc[len(holidays.index)] = [hol, desc, '']
#holidays[holidays['Date'] == '12/25/2019']
#print(type(holidays['Date'][0]))
holidays.Date = pd.to_datetime(holidays.Date)
holidays

,Date,Official Name,Remarks
0,2019-11-11,Veterans Day,NaN
1,2019-11-28,Thanksgiving Day,NaN
2,2019-12-25,Christmas,NaN
3,2020-01-01,New Year's Day,Celebrates beginning of the Gregorian calendar...
4,2020-01-20,"Birthday of Martin Luther King, Jr.","Honors Dr. Martin Luther King, Jr., Civil Righ..."
5,2020-01-20,Inauguration Day,Observed only by federal government employees ...
6,2020-02-17,Washington's Birthday,Washington's Birthday was first declared a fed...
7,2020-05-25,Memorial Day,Honors the nation's war dead from the Civil Wa...
8,2020-07-04,Independence Day,Celebrates the signing of the Declaration of I...
9,2020-09-07,Labor Day,Celebrates the achievements of workers and the...
10,2020-10-12,Columbus Day,"Honors Christopher Columbus, traditional disco..."
11,2020-04-06,Spring Break,
12,2020-04-07,Spring Break,
13,2020-04-08,Spring Break,
14,2020-04-09,Spring Break,
15,2020-04-10,Spring Break,

In [16]:

temp=list(holidays['Date'])
for x in temp:
    print(x.date())

2019-11-11
2019-11-28
2019-12-25
2020-01-01
2020-01-20
2020-01-20
2020-02-17
2020-05-25
2020-07-04
2020-09-07
2020-10-12
2020-04-06
2020-04-07
2020-04-08
2020-04-09
2020-04-10

In [17]:
d = pd.date_range('6/18/2020', '9/3/2020') # datetimeindex obj
d1 = holidays['Date'] # series
d1=list(d1)
d1=[x.date() for x in d1]
d2 = []
for date in d:
    if date.date() not in d1:
        d2.append(date.date())
sdates = pd.DataFrame(d2, columns=['Date'])
sdates['Official Name'] = 'Summer Vacation'
sdates['Date'] = pd.to_datetime(sdates.Date)
# dates['Year'] = dates.Date.dt.year
# dates['Month'] = dates.Date.dt.month
# dates['Day'] = dates.Date.dt.day
sdates

         Date    Official Name
0  2020-06-18  Summer Vacation
1  2020-06-19  Summer Vacation
2  2020-06-20  Summer Vacation
3  2020-06-21  Summer Vacation
4  2020-06-22  Summer Vacation
..        ...              ...
72 2020-08-30  Summer Vacation
73 2020-08-31  Summer Vacation
74 2020-09-01  Summer Vacation
75 2020-09-02  Summer Vacation
76 2020-09-03  Summer Vacation

[77 rows x 2 columns]

In [18]:
sdates[sdates['Date']=='2020-07-04']

Empty DataFrame
Columns: [Date, Official Name]
Index: []

In [19]:
d = pd.date_range('12/23/2019', '1/3/2020') # datetimeindex obj
d1 = holidays['Date'] # series
d1=list(d1)
d1=[x.date() for x in d1]
d2 = []
for date in d:
    if date.date() not in d1:
        d2.append(date.date())
wdates = pd.DataFrame(d2, columns=['Date'])
wdates['Official Name'] = 'Winter Vacation'
wdates['Date'] = pd.to_datetime(wdates.Date)
# dates['Year'] = dates.Date.dt.year
# dates['Month'] = dates.Date.dt.month
# dates['Day'] = dates.Date.dt.day
wdates

        Date    Official Name
0 2019-12-23  Winter Vacation
1 2019-12-24  Winter Vacation
2 2019-12-26  Winter Vacation
3 2019-12-27  Winter Vacation
4 2019-12-28  Winter Vacation
5 2019-12-29  Winter Vacation
6 2019-12-30  Winter Vacation
7 2019-12-31  Winter Vacation
8 2020-01-02  Winter Vacation
9 2020-01-03  Winter Vacation

In [20]:
hols = holidays.merge(wdates, how='outer', on=['Date'])
hols.sort_values(by='Date', inplace=True)
#hols.drop("Remarks", axis=1, inplace=True)
#hols[hols['Date']=='2019-12-25']
#hols[hols['Date']=='2019-12-24']
hols

,Date,Official Name_x,Remarks,Official Name_y
0,2019-11-11,Veterans Day,NaN,NaN
1,2019-11-28,Thanksgiving Day,NaN,NaN
16,2019-12-23,NaN,NaN,Winter Vacation
17,2019-12-24,NaN,NaN,Winter Vacation
2,2019-12-25,Christmas,NaN,NaN
18,2019-12-26,NaN,NaN,Winter Vacation
19,2019-12-27,NaN,NaN,Winter Vacation
20,2019-12-28,NaN,NaN,Winter Vacation
21,2019-12-29,NaN,NaN,Winter Vacation
22,2019-12-30,NaN,NaN,Winter Vacation
23,2019-12-31,NaN,NaN,Winter Vacation
3,2020-01-01,New Year's Day,Celebrates beginning of the Gregorian calendar...,NaN
24,2020-01-02,NaN,NaN,Winter Vacation
25,2020-01-03,NaN,NaN,Winter Vacation
5,2020-01-20,Inauguration Day,Observed only by federal government employees ...,NaN
4,2020-01-20,"Birthday of Martin Luther King, Jr.","Honors Dr. Martin Luther King, Jr., Civil Righ...",NaN
6,2020-02-17,Washington's Birthday,Washington's Birthday was first declared a fed...,NaN
11,2020-04-06,Spring Break,,NaN
12,2020-04-07,Spring Break,,NaN
13,2020-04-08,Spring Break,,NaN
14,2020-04-09,Spring Break,,NaN
15,2020-04-10,Spring Break,,NaN
7,2020-05-25,Memorial Day,Honors the nation's war dead from the Civil Wa...,NaN
8,2020-07-04,Independence Day,Celebrates the signing of the Declaration of I...,NaN
9,2020-09-07,Labor Day,Celebrates the achievements of workers and the...,NaN
10,2020-10-12,Columbus Day,"Honors Christopher Columbus, traditional disco...",NaN

In [21]:
hols['Name']=hols['Official Name_x'].fillna(hols['Official Name_y'])
hols

,Date,Official Name_x,Remarks,Official Name_y,Name
0,2019-11-11,Veterans Day,NaN,NaN,Veterans Day
1,2019-11-28,Thanksgiving Day,NaN,NaN,Thanksgiving Day
16,2019-12-23,NaN,NaN,Winter Vacation,Winter Vacation
17,2019-12-24,NaN,NaN,Winter Vacation,Winter Vacation
2,2019-12-25,Christmas,NaN,NaN,Christmas
18,2019-12-26,NaN,NaN,Winter Vacation,Winter Vacation
19,2019-12-27,NaN,NaN,Winter Vacation,Winter Vacation
20,2019-12-28,NaN,NaN,Winter Vacation,Winter Vacation
21,2019-12-29,NaN,NaN,Winter Vacation,Winter Vacation
22,2019-12-30,NaN,NaN,Winter Vacation,Winter Vacation
23,2019-12-31,NaN,NaN,Winter Vacation,Winter Vacation
3,2020-01-01,New Year's Day,Celebrates beginning of the Gregorian calendar...,NaN,New Year's Day
24,2020-01-02,NaN,NaN,Winter Vacation,Winter Vacation
25,2020-01-03,NaN,NaN,Winter Vacation,Winter Vacation
5,2020-01-20,Inauguration Day,Observed only by federal government employees ...,NaN,Inauguration Day
4,2020-01-20,"Birthday of Martin Luther King, Jr.","Honors Dr. Martin Luther King, Jr., Civil Righ...",NaN,"Birthday of Martin Luther King, Jr."
6,2020-02-17,Washington's Birthday,Washington's Birthday was first declared a fed...,NaN,Washington's Birthday
11,2020-04-06,Spring Break,,NaN,Spring Break
12,2020-04-07,Spring Break,,NaN,Spring Break
13,2020-04-08,Spring Break,,NaN,Spring Break
14,2020-04-09,Spring Break,,NaN,Spring Break
15,2020-04-10,Spring Break,,NaN,Spring Break
7,2020-05-25,Memorial Day,Honors the nation's war dead from the Civil Wa...,NaN,Memorial Day
8,2020-07-04,Independence Day,Celebrates the signing of the Declaration of I...,NaN,Independence Day
9,2020-09-07,Labor Day,Celebrates the achievements of workers and the...,NaN,Labor Day
10,2020-10-12,Columbus Day,"Honors Christopher Columbus, traditional disco...",NaN,Columbus Day

In [22]:
hols.drop('Official Name_y', axis=1, inplace=True)
hols.drop('Remarks', axis=1, inplace=True)
hols.drop('Official Name_x', axis=1, inplace=True)
hols

         Date                                 Name
0  2019-11-11                         Veterans Day
1  2019-11-28                     Thanksgiving Day
16 2019-12-23                      Winter Vacation
17 2019-12-24                      Winter Vacation
2  2019-12-25                            Christmas
18 2019-12-26                      Winter Vacation
19 2019-12-27                      Winter Vacation
20 2019-12-28                      Winter Vacation
21 2019-12-29                      Winter Vacation
22 2019-12-30                      Winter Vacation
23 2019-12-31                      Winter Vacation
3  2020-01-01                       New Year's Day
24 2020-01-02                      Winter Vacation
25 2020-01-03                      Winter Vacation
5  2020-01-20                     Inauguration Day
4  2020-01-20  Birthday of Martin Luther King, Jr.
6  2020-02-17                Washington's Birthday
11 2020-04-06                         Spring Break
12 2020-04-07                         Spring Break
13 2020-04-08                         Spring Break
14 2020-04-09                         Spring Break
15 2020-04-10                         Spring Break
7  2020-05-25                         Memorial Day
8  2020-07-04                     Independence Day
9  2020-09-07                            Labor Day
10 2020-10-12                         Columbus Day

In [23]:
hols = hols.merge(sdates, how='outer', on=['Date'])
hols.sort_values(by='Date', inplace=True)
#hols.drop("Remarks", axis=1, inplace=True)
#hols[hols['Date']=='2019-12-25']
#hols[hols['Date']=='2019-12-24']
hols

          Date              Name    Official Name
0   2019-11-11      Veterans Day              NaN
1   2019-11-28  Thanksgiving Day              NaN
2   2019-12-23   Winter Vacation              NaN
3   2019-12-24   Winter Vacation              NaN
4   2019-12-25         Christmas              NaN
..         ...               ...              ...
100 2020-09-01               NaN  Summer Vacation
101 2020-09-02               NaN  Summer Vacation
102 2020-09-03               NaN  Summer Vacation
24  2020-09-07         Labor Day              NaN
25  2020-10-12      Columbus Day              NaN

[103 rows x 3 columns]

In [24]:
hols['Name']=hols['Name'].fillna(hols['Official Name'])
hols

          Date              Name    Official Name
0   2019-11-11      Veterans Day              NaN
1   2019-11-28  Thanksgiving Day              NaN
2   2019-12-23   Winter Vacation              NaN
3   2019-12-24   Winter Vacation              NaN
4   2019-12-25         Christmas              NaN
..         ...               ...              ...
100 2020-09-01   Summer Vacation  Summer Vacation
101 2020-09-02   Summer Vacation  Summer Vacation
102 2020-09-03   Summer Vacation  Summer Vacation
24  2020-09-07         Labor Day              NaN
25  2020-10-12      Columbus Day              NaN

[103 rows x 3 columns]

In [25]:
hols.drop('Official Name', axis=1, inplace=True)
hols[hols['Date']=='2020-07-03']

         Date             Name
41 2020-07-03  Summer Vacation

In [26]:
hols.to_csv('hols.csv', index=False)

In [27]:
d = pd.date_range('11/1/2019', '11/30/2020') # datetimeindex obj
d1 = hols['Date'] # series
d1=list(d1)
d1=[x.date() for x in d1]
d3 = wdates['Date'] # series
d3=list(d3)
d3=[x.date() for x in d3]
d2 = []
for date in d:
    if date.date() not in d1 and date.date() not in d3:
        d2.append(date.date())
dates = pd.DataFrame(d2, columns=['Date'])
dates['Official Name'] = 'Not Holiday'
dates['Date'] = pd.to_datetime(dates.Date)
# dates['Year'] = dates.Date.dt.year
# dates['Month'] = dates.Date.dt.month
# dates['Day'] = dates.Date.dt.day
dates

          Date Official Name
0   2019-11-01   Not Holiday
1   2019-11-02   Not Holiday
2   2019-11-03   Not Holiday
3   2019-11-04   Not Holiday
4   2019-11-05   Not Holiday
..         ...           ...
289 2020-11-26   Not Holiday
290 2020-11-27   Not Holiday
291 2020-11-28   Not Holiday
292 2020-11-29   Not Holiday
293 2020-11-30   Not Holiday

[294 rows x 2 columns]

In [28]:
dates.Date = pd.to_datetime(dates.Date)
dates['Official Name']=np.where(dates.Date.dt.weekday > 4 , 'Weekend', 'Not Holiday')
dates

          Date Official Name
0   2019-11-01   Not Holiday
1   2019-11-02       Weekend
2   2019-11-03       Weekend
3   2019-11-04   Not Holiday
4   2019-11-05   Not Holiday
..         ...           ...
289 2020-11-26   Not Holiday
290 2020-11-27   Not Holiday
291 2020-11-28       Weekend
292 2020-11-29       Weekend
293 2020-11-30   Not Holiday

[294 rows x 2 columns]

In [29]:
hols.Date = pd.to_datetime(hols.Date)
dates.Date = pd.to_datetime(dates.Date)
hol = hols.merge(dates, how='outer', on=['Date'])
hol.sort_values(by='Date', inplace=True)
hol

          Date Name Official Name
103 2019-11-01  NaN   Not Holiday
104 2019-11-02  NaN       Weekend
105 2019-11-03  NaN       Weekend
106 2019-11-04  NaN   Not Holiday
107 2019-11-05  NaN   Not Holiday
..         ...  ...           ...
392 2020-11-26  NaN   Not Holiday
393 2020-11-27  NaN   Not Holiday
394 2020-11-28  NaN       Weekend
395 2020-11-29  NaN       Weekend
396 2020-11-30  NaN   Not Holiday

[397 rows x 3 columns]

In [30]:
hol['Holiday_Name']=hol['Official Name'].fillna(hol['Name'])

In [31]:
hol.drop('Official Name', axis=1, inplace=True)
hol.drop('Name', axis=1, inplace=True)
hol[hol['Date']=='2020-7-3']

         Date     Holiday_Name
38 2020-07-03  Summer Vacation

In [32]:
hol.to_csv('holidays_final.csv', index=False)

In [33]:
hol

          Date Holiday_Name
103 2019-11-01  Not Holiday
104 2019-11-02      Weekend
105 2019-11-03      Weekend
106 2019-11-04  Not Holiday
107 2019-11-05  Not Holiday
..         ...          ...
392 2020-11-26  Not Holiday
393 2020-11-27  Not Holiday
394 2020-11-28      Weekend
395 2020-11-29      Weekend
396 2020-11-30  Not Holiday

[397 rows x 2 columns]

In [34]:
hol['Year'] = hol.Date.dt.year
hol['Month'] = hol.Date.dt.month
hol['Day'] = hol.Date.dt.day
hol

          Date Holiday_Name  Year  Month  Day
103 2019-11-01  Not Holiday  2019     11    1
104 2019-11-02      Weekend  2019     11    2
105 2019-11-03      Weekend  2019     11    3
106 2019-11-04  Not Holiday  2019     11    4
107 2019-11-05  Not Holiday  2019     11    5
..         ...          ...   ...    ...  ...
392 2020-11-26  Not Holiday  2020     11   26
393 2020-11-27  Not Holiday  2020     11   27
394 2020-11-28      Weekend  2020     11   28
395 2020-11-29      Weekend  2020     11   29
396 2020-11-30  Not Holiday  2020     11   30

[397 rows x 5 columns]

In [35]:
hol['Weekend'] = np.where(hol.Date.dt.weekday > 4, 1, 0)
hol.reset_index(inplace=True)
hol

     index       Date Holiday_Name  Year  Month  Day  Weekend
0      103 2019-11-01  Not Holiday  2019     11    1        0
1      104 2019-11-02      Weekend  2019     11    2        1
2      105 2019-11-03      Weekend  2019     11    3        1
3      106 2019-11-04  Not Holiday  2019     11    4        0
4      107 2019-11-05  Not Holiday  2019     11    5        0
..     ...        ...          ...   ...    ...  ...      ...
392    392 2020-11-26  Not Holiday  2020     11   26        0
393    393 2020-11-27  Not Holiday  2020     11   27        0
394    394 2020-11-28      Weekend  2020     11   28        1
395    395 2020-11-29      Weekend  2020     11   29        1
396    396 2020-11-30  Not Holiday  2020     11   30        0

[397 rows x 7 columns]

In [36]:
hol1 = hol
hol1

     index       Date Holiday_Name  Year  Month  Day  Weekend
0      103 2019-11-01  Not Holiday  2019     11    1        0
1      104 2019-11-02      Weekend  2019     11    2        1
2      105 2019-11-03      Weekend  2019     11    3        1
3      106 2019-11-04  Not Holiday  2019     11    4        0
4      107 2019-11-05  Not Holiday  2019     11    5        0
..     ...        ...          ...   ...    ...  ...      ...
392    392 2020-11-26  Not Holiday  2020     11   26        0
393    393 2020-11-27  Not Holiday  2020     11   27        0
394    394 2020-11-28      Weekend  2020     11   28        1
395    395 2020-11-29      Weekend  2020     11   29        1
396    396 2020-11-30  Not Holiday  2020     11   30        0

[397 rows x 7 columns]

In [37]:
for i in range(len(hol['Date'])):
    if hol['Weekend'][i] == 1:
        if hol['Holiday_Name'][i] == "Not Holiday":
            hol['Holiday_Name'][i] = 'Weekend'
hol

     index       Date Holiday_Name  Year  Month  Day  Weekend
0      103 2019-11-01  Not Holiday  2019     11    1        0
1      104 2019-11-02      Weekend  2019     11    2        1
2      105 2019-11-03      Weekend  2019     11    3        1
3      106 2019-11-04  Not Holiday  2019     11    4        0
4      107 2019-11-05  Not Holiday  2019     11    5        0
..     ...        ...          ...   ...    ...  ...      ...
392    392 2020-11-26  Not Holiday  2020     11   26        0
393    393 2020-11-27  Not Holiday  2020     11   27        0
394    394 2020-11-28      Weekend  2020     11   28        1
395    395 2020-11-29      Weekend  2020     11   29        1
396    396 2020-11-30  Not Holiday  2020     11   30        0

[397 rows x 7 columns]

In [38]:
hol.to_csv('holidays.csv', index=False)

In [39]:
final_merged_data = merged_df.merge(hol, how='inner', on=['Year', 'Month', 'Day'])
final_merged_data.drop("Date", axis=1, inplace=True)
final_merged_data

,ride_id,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,member_casual,Year,Month,...,Hour,Temperature,Humidity,Wind Speed,Wind Gust,Precipitation,Condition,index,Holiday_Name,Weekend
0,25612325,2019-11-01 00:00:00,2019-11-01 00:08:00,Ellis Ave & 55th St,420.0,Harper Ave & 59th St,425.0,member,2019,11,...,0,26 F,81,8 mph,0 mph,0.0 in,Fair,103,Not Holiday,0
1,25612326,2019-11-01 00:01:00,2019-11-01 00:30:00,Western Ave & Winnebago Ave,116.0,Morgan St & Polk St,241.0,casual,2019,11,...,0,26 F,81,8 mph,0 mph,0.0 in,Fair,103,Not Holiday,0
2,25612327,2019-11-01 00:01:00,2019-11-01 00:38:00,Western Ave & Winnebago Ave,116.0,May St & Taylor St,22.0,member,2019,11,...,0,26 F,81,8 mph,0 mph,0.0 in,Fair,103,Not Holiday,0
3,25612328,2019-11-01 00:02:00,2019-11-01 00:09:00,Lincoln Ave & Winona St,472.0,Maplewood Ave & Peterson Ave,455.0,member,2019,11,...,0,26 F,81,8 mph,0 mph,0.0 in,Fair,103,Not Holiday,0
4,25612329,2019-11-01 00:02:00,2019-11-01 00:04:00,Clinton St & Madison St,77.0,Clinton St & Washington Blvd,91.0,member,2019,11,...,0,26 F,81,8 mph,0 mph,0.0 in,Fair,103,Not Holiday,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3807053,A4D50CAC9CCFB180,2020-10-20 01:51:00,2020-10-20 01:59:00,Kimbark Ave & 53rd St,322.0,Blackstone Ave & Hyde Park Blvd,121.0,member,2020,10,...,1,44 F,79,9mph,0mph,0.0in,Cloudy,355,Not Holiday,0
3807054,2D551117FD01DCE1,2020-10-20 01:04:00,2020-10-20 01:19:00,Pine Grove Ave & Irving Park Rd,254.0,Glenwood Ave & Morse Ave,447.0,member,2020,10,...,1,44 F,79,8mph,0mph,0.0in,Cloudy,355,Not Holiday,0
3807055,2D551117FD01DCE1,2020-10-20 01:04:00,2020-10-20 01:19:00,Pine Grove Ave & Irving Park Rd,254.0,Glenwood Ave & Morse Ave,447.0,member,2020,10,...,1,44 F,79,9mph,0mph,0.0in,Cloudy,355,Not Holiday,0
3807056,09264F6A1F8E4CEE,2020-10-20 01:38:00,2020-10-20 01:48:00,St. Clair St & Erie St,211.0,Clark St & Armitage Ave,94.0,member,2020,10,...,1,44 F,79,8mph,0mph,0.0in,Cloudy,355,Not Holiday,0
3807057,09264F6A1F8E4CEE,2020-10-20 01:38:00,2020-10-20 01:48:00,St. Clair St & Erie St,211.0,Clark St & Armitage Ave,94.0,member,2020,10,...,1,44 F,79,9mph,0mph,0.0in,Cloudy,355,Not Holiday,0

In [40]:
final_merged_data.to_csv("final_merged_data.csv", index=False)

In [41]:
final_merged_data.loc[(final_merged_data['Month'] == 12) & (final_merged_data['Day'] == 25)]

,ride_id,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,member_casual,Year,Month,...,Hour,Temperature,Humidity,Wind Speed,Wind Gust,Precipitation,Condition,index,Holiday_Name,Weekend
348282,25937355,2019-12-25 00:00:00,2019-12-25 00:13:00,State St & Randolph St,44.0,Indiana Ave & Roosevelt Rd,255.0,member,2019,12,...,0,44 F,82,7 mph,0 mph,0.0 in,Mostly Cloudy,4,Christmas,0
348283,25937356,2019-12-25 00:09:00,2019-12-25 00:18:00,Southport Ave & Waveland Ave,227.0,Damen Ave & Melrose Ave,228.0,casual,2019,12,...,0,44 F,82,7 mph,0 mph,0.0 in,Mostly Cloudy,4,Christmas,0
348284,25937357,2019-12-25 00:08:00,2019-12-25 00:18:00,Southport Ave & Waveland Ave,227.0,Damen Ave & Melrose Ave,228.0,casual,2019,12,...,0,44 F,82,7 mph,0 mph,0.0 in,Mostly Cloudy,4,Christmas,0
348285,25937358,2019-12-25 00:09:00,2019-12-25 00:18:00,Southport Ave & Waveland Ave,227.0,Damen Ave & Melrose Ave,228.0,casual,2019,12,...,0,44 F,82,7 mph,0 mph,0.0 in,Mostly Cloudy,4,Christmas,0
348286,25937359,2019-12-25 00:13:00,2019-12-25 00:16:00,Millennium Park,90.0,Michigan Ave & Lake St,52.0,member,2019,12,...,0,44 F,82,7 mph,0 mph,0.0 in,Mostly Cloudy,4,Christmas,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
350697,25939919,2019-12-25 23:53:00,2019-12-26 00:18:00,Michigan Ave & 8th St,623.0,Michigan Ave & Lake St,52.0,casual,2019,12,...,23,55 F,77,14 mph,0 mph,0.0 in,Cloudy,4,Christmas,0
350698,25939920,2019-12-25 23:53:00,2019-12-25 23:59:00,Canal St & Adams St,192.0,Orleans St & Merchandise Mart Plaza,100.0,member,2019,12,...,23,55 F,77,14 mph,0 mph,0.0 in,Cloudy,4,Christmas,0
350699,25939921,2019-12-25 23:58:00,2019-12-26 00:01:00,Dearborn Pkwy & Delaware Pl,140.0,Clark St & Elm St,176.0,member,2019,12,...,23,55 F,77,14 mph,0 mph,0.0 in,Cloudy,4,Christmas,0
350700,25939922,2019-12-25 23:59:00,2019-12-26 01:16:00,State St & Pearson St,106.0,Orleans St & Chestnut St (NEXT Apts),620.0,member,2019,12,...,23,55 F,77,14 mph,0 mph,0.0 in,Cloudy,4,Christmas,0
350701,25939923,2019-12-25 23:59:00,2019-12-26 00:06:00,Damen Ave & Cortland St,219.0,Ashland Ave & Blackhawk St,333.0,member,2019,12,...,23,55 F,77,14 mph,0 mph,0.0 in,Cloudy,4,Christmas,0

In [42]:
final_merged_data.drop("Weekend", axis=1, inplace=True)

In [43]:
final_merged_data.loc[(final_merged_data['Month'] == 7) & (final_merged_data['Day'] == 3)]

,ride_id,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,member_casual,Year,Month,Day,Hour,Temperature,Humidity,Wind Speed,Wind Gust,Precipitation,Condition,index,Holiday_Name
2066004,21F8809799014897,2020-07-03 13:51:00,2020-07-03 14:09:00,Wentworth Ave & 24th St (Temp),132.0,Morgan St & 31st St,280.0,casual,2020,7,3,13,87 F,37,10mph,0mph,0.0in,Fair,38,Summer Vacation
2066005,7173C991BDE11CA0,2020-07-03 13:05:00,2020-07-03 13:39:00,Larrabee St & Division St,359.0,Pine Grove Ave & Irving Park Rd,254.0,member,2020,7,3,13,87 F,37,10mph,0mph,0.0in,Fair,38,Summer Vacation
2066006,431770B1ECAB06A2,2020-07-03 13:44:00,2020-07-03 14:23:00,Shedd Aquarium,3.0,Shedd Aquarium,3.0,casual,2020,7,3,13,87 F,37,10mph,0mph,0.0in,Fair,38,Summer Vacation
2066007,4B94A9503234E266,2020-07-03 13:22:00,2020-07-03 13:45:00,Clybourn Ave & Division St,138.0,Field Blvd & South Water St,7.0,member,2020,7,3,13,87 F,37,10mph,0mph,0.0in,Fair,38,Summer Vacation
2066008,03F9497DD67E2894,2020-07-03 13:12:00,2020-07-03 13:48:00,Wells St & Concord Ln,289.0,Montrose Harbor,249.0,member,2020,7,3,13,87 F,37,10mph,0mph,0.0in,Fair,38,Summer Vacation
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2086295,1632EC351A50D3D4,2020-07-03 03:16:00,2020-07-03 03:42:00,Wabash Ave & Wacker Pl,194.0,Wabash Ave & Wacker Pl,194.0,casual,2020,7,3,3,70 F,81,0mph,0mph,0.0in,Partly Cloudy,38,Summer Vacation
2086296,38A87850CA31E70C,2020-07-03 03:09:00,2020-07-03 03:47:00,McClurg Ct & Illinois St,26.0,McClurg Ct & Illinois St,26.0,casual,2020,7,3,3,70 F,81,0mph,0mph,0.0in,Partly Cloudy,38,Summer Vacation
2086297,F8D319C1776FB151,2020-07-03 03:34:00,2020-07-03 03:48:00,Sheffield Ave & Waveland Ave,114.0,Racine Ave & Fullerton Ave,87.0,member,2020,7,3,3,70 F,81,0mph,0mph,0.0in,Partly Cloudy,38,Summer Vacation
2086298,15C026002F464751,2020-07-03 03:09:00,2020-07-03 03:16:00,Lincoln Ave & Diversey Pkwy,152.0,Lakeview Ave & Fullerton Pkwy,313.0,casual,2020,7,3,3,70 F,81,0mph,0mph,0.0in,Partly Cloudy,38,Summer Vacation
2086299,2F88CB5526A0DAF7,2020-07-03 03:31:00,2020-07-03 03:59:00,State St & Kinzie St,47.0,State St & Kinzie St,47.0,casual,2020,7,3,3,70 F,81,0mph,0mph,0.0in,Partly Cloudy,38,Summer Vacation

# Data Cleaning

In [44]:
final_merged_data.shape

(3807058, 20)

In [45]:
final_merged_data.reset_index(inplace=True)

In [46]:
final_merged_data.drop("level_0", inplace=True, axis=1)
final_merged_data

,ride_id,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,member_casual,Year,Month,Day,Hour,Temperature,Humidity,Wind Speed,Wind Gust,Precipitation,Condition,index,Holiday_Name
0,25612325,2019-11-01 00:00:00,2019-11-01 00:08:00,Ellis Ave & 55th St,420.0,Harper Ave & 59th St,425.0,member,2019,11,1,0,26 F,81,8 mph,0 mph,0.0 in,Fair,103,Not Holiday
1,25612326,2019-11-01 00:01:00,2019-11-01 00:30:00,Western Ave & Winnebago Ave,116.0,Morgan St & Polk St,241.0,casual,2019,11,1,0,26 F,81,8 mph,0 mph,0.0 in,Fair,103,Not Holiday
2,25612327,2019-11-01 00:01:00,2019-11-01 00:38:00,Western Ave & Winnebago Ave,116.0,May St & Taylor St,22.0,member,2019,11,1,0,26 F,81,8 mph,0 mph,0.0 in,Fair,103,Not Holiday
3,25612328,2019-11-01 00:02:00,2019-11-01 00:09:00,Lincoln Ave & Winona St,472.0,Maplewood Ave & Peterson Ave,455.0,member,2019,11,1,0,26 F,81,8 mph,0 mph,0.0 in,Fair,103,Not Holiday
4,25612329,2019-11-01 00:02:00,2019-11-01 00:04:00,Clinton St & Madison St,77.0,Clinton St & Washington Blvd,91.0,member,2019,11,1,0,26 F,81,8 mph,0 mph,0.0 in,Fair,103,Not Holiday
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3807053,A4D50CAC9CCFB180,2020-10-20 01:51:00,2020-10-20 01:59:00,Kimbark Ave & 53rd St,322.0,Blackstone Ave & Hyde Park Blvd,121.0,member,2020,10,20,1,44 F,79,9mph,0mph,0.0in,Cloudy,355,Not Holiday
3807054,2D551117FD01DCE1,2020-10-20 01:04:00,2020-10-20 01:19:00,Pine Grove Ave & Irving Park Rd,254.0,Glenwood Ave & Morse Ave,447.0,member,2020,10,20,1,44 F,79,8mph,0mph,0.0in,Cloudy,355,Not Holiday
3807055,2D551117FD01DCE1,2020-10-20 01:04:00,2020-10-20 01:19:00,Pine Grove Ave & Irving Park Rd,254.0,Glenwood Ave & Morse Ave,447.0,member,2020,10,20,1,44 F,79,9mph,0mph,0.0in,Cloudy,355,Not Holiday
3807056,09264F6A1F8E4CEE,2020-10-20 01:38:00,2020-10-20 01:48:00,St. Clair St & Erie St,211.0,Clark St & Armitage Ave,94.0,member,2020,10,20,1,44 F,79,8mph,0mph,0.0in,Cloudy,355,Not Holiday
3807057,09264F6A1F8E4CEE,2020-10-20 01:38:00,2020-10-20 01:48:00,St. Clair St & Erie St,211.0,Clark St & Armitage Ave,94.0,member,2020,10,20,1,44 F,79,9mph,0mph,0.0in,Cloudy,355,Not Holiday

In [47]:
# count number of duplicate rows and missing values in ddataframe
print("Number of duplicate rows: ", len(final_merged_data) - len(final_merged_data.drop_duplicates(subset='ride_id', keep='first')))
print("Number of rows with missing values: ", len(final_merged_data) - len(final_merged_data.dropna()))

Number of duplicate rows:  325582
Number of rows with missing values:  106490

In [48]:
cleaned_data = final_merged_data.drop_duplicates(subset='ride_id', keep='first')
cleaned_data

,ride_id,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,member_casual,Year,Month,Day,Hour,Temperature,Humidity,Wind Speed,Wind Gust,Precipitation,Condition,index,Holiday_Name
0,25612325,2019-11-01 00:00:00,2019-11-01 00:08:00,Ellis Ave & 55th St,420.0,Harper Ave & 59th St,425.0,member,2019,11,1,0,26 F,81,8 mph,0 mph,0.0 in,Fair,103,Not Holiday
1,25612326,2019-11-01 00:01:00,2019-11-01 00:30:00,Western Ave & Winnebago Ave,116.0,Morgan St & Polk St,241.0,casual,2019,11,1,0,26 F,81,8 mph,0 mph,0.0 in,Fair,103,Not Holiday
2,25612327,2019-11-01 00:01:00,2019-11-01 00:38:00,Western Ave & Winnebago Ave,116.0,May St & Taylor St,22.0,member,2019,11,1,0,26 F,81,8 mph,0 mph,0.0 in,Fair,103,Not Holiday
3,25612328,2019-11-01 00:02:00,2019-11-01 00:09:00,Lincoln Ave & Winona St,472.0,Maplewood Ave & Peterson Ave,455.0,member,2019,11,1,0,26 F,81,8 mph,0 mph,0.0 in,Fair,103,Not Holiday
4,25612329,2019-11-01 00:02:00,2019-11-01 00:04:00,Clinton St & Madison St,77.0,Clinton St & Washington Blvd,91.0,member,2019,11,1,0,26 F,81,8 mph,0 mph,0.0 in,Fair,103,Not Holiday
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3807048,23638F49B7E7D116,2020-10-20 01:23:00,2020-10-20 01:39:00,Racine Ave & 35th St,367.0,Racine Ave & 18th St,15.0,member,2020,10,20,1,44 F,79,8mph,0mph,0.0in,Cloudy,355,Not Holiday
3807050,3048BAC5F769B4DD,2020-10-20 01:20:00,2020-10-20 01:36:00,Wells St & Evergreen Ave,291.0,Wabash Ave & Roosevelt Rd,59.0,member,2020,10,20,1,44 F,79,8mph,0mph,0.0in,Cloudy,355,Not Holiday
3807052,A4D50CAC9CCFB180,2020-10-20 01:51:00,2020-10-20 01:59:00,Kimbark Ave & 53rd St,322.0,Blackstone Ave & Hyde Park Blvd,121.0,member,2020,10,20,1,44 F,79,8mph,0mph,0.0in,Cloudy,355,Not Holiday
3807054,2D551117FD01DCE1,2020-10-20 01:04:00,2020-10-20 01:19:00,Pine Grove Ave & Irving Park Rd,254.0,Glenwood Ave & Morse Ave,447.0,member,2020,10,20,1,44 F,79,8mph,0mph,0.0in,Cloudy,355,Not Holiday
3807056,09264F6A1F8E4CEE,2020-10-20 01:38:00,2020-10-20 01:48:00,St. Clair St & Erie St,211.0,Clark St & Armitage Ave,94.0,member,2020,10,20,1,44 F,79,8mph,0mph,0.0in,Cloudy,355,Not Holiday

In [49]:
cleaned_data.dropna(inplace=True)
cleaned_data

,ride_id,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,member_casual,Year,Month,Day,Hour,Temperature,Humidity,Wind Speed,Wind Gust,Precipitation,Condition,index,Holiday_Name
0,25612325,2019-11-01 00:00:00,2019-11-01 00:08:00,Ellis Ave & 55th St,420.0,Harper Ave & 59th St,425.0,member,2019,11,1,0,26 F,81,8 mph,0 mph,0.0 in,Fair,103,Not Holiday
1,25612326,2019-11-01 00:01:00,2019-11-01 00:30:00,Western Ave & Winnebago Ave,116.0,Morgan St & Polk St,241.0,casual,2019,11,1,0,26 F,81,8 mph,0 mph,0.0 in,Fair,103,Not Holiday
2,25612327,2019-11-01 00:01:00,2019-11-01 00:38:00,Western Ave & Winnebago Ave,116.0,May St & Taylor St,22.0,member,2019,11,1,0,26 F,81,8 mph,0 mph,0.0 in,Fair,103,Not Holiday
3,25612328,2019-11-01 00:02:00,2019-11-01 00:09:00,Lincoln Ave & Winona St,472.0,Maplewood Ave & Peterson Ave,455.0,member,2019,11,1,0,26 F,81,8 mph,0 mph,0.0 in,Fair,103,Not Holiday
4,25612329,2019-11-01 00:02:00,2019-11-01 00:04:00,Clinton St & Madison St,77.0,Clinton St & Washington Blvd,91.0,member,2019,11,1,0,26 F,81,8 mph,0 mph,0.0 in,Fair,103,Not Holiday
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3807048,23638F49B7E7D116,2020-10-20 01:23:00,2020-10-20 01:39:00,Racine Ave & 35th St,367.0,Racine Ave & 18th St,15.0,member,2020,10,20,1,44 F,79,8mph,0mph,0.0in,Cloudy,355,Not Holiday
3807050,3048BAC5F769B4DD,2020-10-20 01:20:00,2020-10-20 01:36:00,Wells St & Evergreen Ave,291.0,Wabash Ave & Roosevelt Rd,59.0,member,2020,10,20,1,44 F,79,8mph,0mph,0.0in,Cloudy,355,Not Holiday
3807052,A4D50CAC9CCFB180,2020-10-20 01:51:00,2020-10-20 01:59:00,Kimbark Ave & 53rd St,322.0,Blackstone Ave & Hyde Park Blvd,121.0,member,2020,10,20,1,44 F,79,8mph,0mph,0.0in,Cloudy,355,Not Holiday
3807054,2D551117FD01DCE1,2020-10-20 01:04:00,2020-10-20 01:19:00,Pine Grove Ave & Irving Park Rd,254.0,Glenwood Ave & Morse Ave,447.0,member,2020,10,20,1,44 F,79,8mph,0mph,0.0in,Cloudy,355,Not Holiday
3807056,09264F6A1F8E4CEE,2020-10-20 01:38:00,2020-10-20 01:48:00,St. Clair St & Erie St,211.0,Clark St & Armitage Ave,94.0,member,2020,10,20,1,44 F,79,8mph,0mph,0.0in,Cloudy,355,Not Holiday

In [50]:
cleaned_data.shape

(3383787, 20)

In [51]:
print("NUmber of rows dropped: ", final_merged_data.shape[0] - cleaned_data.shape[0])

NUmber of rows dropped:  423271

In [52]:
cleaned_data.to_csv('cleaned_data.csv', index=False)

In [53]:
print("MERGED DATA")
final_merged_data

MERGED DATA

,ride_id,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,member_casual,Year,Month,Day,Hour,Temperature,Humidity,Wind Speed,Wind Gust,Precipitation,Condition,index,Holiday_Name
0,25612325,2019-11-01 00:00:00,2019-11-01 00:08:00,Ellis Ave & 55th St,420.0,Harper Ave & 59th St,425.0,member,2019,11,1,0,26 F,81,8 mph,0 mph,0.0 in,Fair,103,Not Holiday
1,25612326,2019-11-01 00:01:00,2019-11-01 00:30:00,Western Ave & Winnebago Ave,116.0,Morgan St & Polk St,241.0,casual,2019,11,1,0,26 F,81,8 mph,0 mph,0.0 in,Fair,103,Not Holiday
2,25612327,2019-11-01 00:01:00,2019-11-01 00:38:00,Western Ave & Winnebago Ave,116.0,May St & Taylor St,22.0,member,2019,11,1,0,26 F,81,8 mph,0 mph,0.0 in,Fair,103,Not Holiday
3,25612328,2019-11-01 00:02:00,2019-11-01 00:09:00,Lincoln Ave & Winona St,472.0,Maplewood Ave & Peterson Ave,455.0,member,2019,11,1,0,26 F,81,8 mph,0 mph,0.0 in,Fair,103,Not Holiday
4,25612329,2019-11-01 00:02:00,2019-11-01 00:04:00,Clinton St & Madison St,77.0,Clinton St & Washington Blvd,91.0,member,2019,11,1,0,26 F,81,8 mph,0 mph,0.0 in,Fair,103,Not Holiday
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3807053,A4D50CAC9CCFB180,2020-10-20 01:51:00,2020-10-20 01:59:00,Kimbark Ave & 53rd St,322.0,Blackstone Ave & Hyde Park Blvd,121.0,member,2020,10,20,1,44 F,79,9mph,0mph,0.0in,Cloudy,355,Not Holiday
3807054,2D551117FD01DCE1,2020-10-20 01:04:00,2020-10-20 01:19:00,Pine Grove Ave & Irving Park Rd,254.0,Glenwood Ave & Morse Ave,447.0,member,2020,10,20,1,44 F,79,8mph,0mph,0.0in,Cloudy,355,Not Holiday
3807055,2D551117FD01DCE1,2020-10-20 01:04:00,2020-10-20 01:19:00,Pine Grove Ave & Irving Park Rd,254.0,Glenwood Ave & Morse Ave,447.0,member,2020,10,20,1,44 F,79,9mph,0mph,0.0in,Cloudy,355,Not Holiday
3807056,09264F6A1F8E4CEE,2020-10-20 01:38:00,2020-10-20 01:48:00,St. Clair St & Erie St,211.0,Clark St & Armitage Ave,94.0,member,2020,10,20,1,44 F,79,8mph,0mph,0.0in,Cloudy,355,Not Holiday
3807057,09264F6A1F8E4CEE,2020-10-20 01:38:00,2020-10-20 01:48:00,St. Clair St & Erie St,211.0,Clark St & Armitage Ave,94.0,member,2020,10,20,1,44 F,79,9mph,0mph,0.0in,Cloudy,355,Not Holiday

In [54]:
print("CLEAN DATA")
cleaned_data

CLEAN DATA

,ride_id,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,member_casual,Year,Month,Day,Hour,Temperature,Humidity,Wind Speed,Wind Gust,Precipitation,Condition,index,Holiday_Name
0,25612325,2019-11-01 00:00:00,2019-11-01 00:08:00,Ellis Ave & 55th St,420.0,Harper Ave & 59th St,425.0,member,2019,11,1,0,26 F,81,8 mph,0 mph,0.0 in,Fair,103,Not Holiday
1,25612326,2019-11-01 00:01:00,2019-11-01 00:30:00,Western Ave & Winnebago Ave,116.0,Morgan St & Polk St,241.0,casual,2019,11,1,0,26 F,81,8 mph,0 mph,0.0 in,Fair,103,Not Holiday
2,25612327,2019-11-01 00:01:00,2019-11-01 00:38:00,Western Ave & Winnebago Ave,116.0,May St & Taylor St,22.0,member,2019,11,1,0,26 F,81,8 mph,0 mph,0.0 in,Fair,103,Not Holiday
3,25612328,2019-11-01 00:02:00,2019-11-01 00:09:00,Lincoln Ave & Winona St,472.0,Maplewood Ave & Peterson Ave,455.0,member,2019,11,1,0,26 F,81,8 mph,0 mph,0.0 in,Fair,103,Not Holiday
4,25612329,2019-11-01 00:02:00,2019-11-01 00:04:00,Clinton St & Madison St,77.0,Clinton St & Washington Blvd,91.0,member,2019,11,1,0,26 F,81,8 mph,0 mph,0.0 in,Fair,103,Not Holiday
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3807048,23638F49B7E7D116,2020-10-20 01:23:00,2020-10-20 01:39:00,Racine Ave & 35th St,367.0,Racine Ave & 18th St,15.0,member,2020,10,20,1,44 F,79,8mph,0mph,0.0in,Cloudy,355,Not Holiday
3807050,3048BAC5F769B4DD,2020-10-20 01:20:00,2020-10-20 01:36:00,Wells St & Evergreen Ave,291.0,Wabash Ave & Roosevelt Rd,59.0,member,2020,10,20,1,44 F,79,8mph,0mph,0.0in,Cloudy,355,Not Holiday
3807052,A4D50CAC9CCFB180,2020-10-20 01:51:00,2020-10-20 01:59:00,Kimbark Ave & 53rd St,322.0,Blackstone Ave & Hyde Park Blvd,121.0,member,2020,10,20,1,44 F,79,8mph,0mph,0.0in,Cloudy,355,Not Holiday
3807054,2D551117FD01DCE1,2020-10-20 01:04:00,2020-10-20 01:19:00,Pine Grove Ave & Irving Park Rd,254.0,Glenwood Ave & Morse Ave,447.0,member,2020,10,20,1,44 F,79,8mph,0mph,0.0in,Cloudy,355,Not Holiday
3807056,09264F6A1F8E4CEE,2020-10-20 01:38:00,2020-10-20 01:48:00,St. Clair St & Erie St,211.0,Clark St & Armitage Ave,94.0,member,2020,10,20,1,44 F,79,8mph,0mph,0.0in,Cloudy,355,Not Holiday

In [68]:
cleaned_data[(cleaned_data['Day']==28)&(cleaned_data['Month']==12)]

,ride_id,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,member_casual,Year,Month,Day,Hour,Temperature,Humidity,Wind Speed,Wind Gust,Precipitation,Condition,index,Holiday_Name
360591,25950140,2019-12-28 00:00:00,2019-12-28 00:04:00,Sheffield Ave & Webster Ave,327.0,Sheffield Ave & Wrightwood Ave,302.0,member,2019,12,28,0,31 F,85,0 mph,0 mph,0.0 in,Mostly Cloudy,7,Winter Vacation
360592,25950141,2019-12-28 00:00:00,2019-12-28 00:08:00,Milwaukee Ave & Wabansia Ave,158.0,Humboldt Blvd & Armitage Ave,507.0,casual,2019,12,28,0,31 F,85,0 mph,0 mph,0.0 in,Mostly Cloudy,7,Winter Vacation
360593,25950142,2019-12-28 00:00:00,2019-12-28 00:11:00,Halsted St & Wrightwood Ave,349.0,Sheffield Ave & Kingsbury St,20.0,member,2019,12,28,0,31 F,85,0 mph,0 mph,0.0 in,Mostly Cloudy,7,Winter Vacation
360594,25950143,2019-12-28 00:00:00,2019-12-28 00:06:00,Emerald Ave & 31st St,339.0,Wentworth Ave & 33rd St,403.0,member,2019,12,28,0,31 F,85,0 mph,0 mph,0.0 in,Mostly Cloudy,7,Winter Vacation
360595,25950144,2019-12-28 00:01:00,2019-12-28 00:06:00,Sheffield Ave & Webster Ave,327.0,Halsted St & Wrightwood Ave,349.0,member,2019,12,28,0,31 F,85,0 mph,0 mph,0.0 in,Mostly Cloudy,7,Winter Vacation
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
364813,25953040,2019-12-28 23:28:00,2019-12-28 23:42:00,Wabash Ave & Wacker Pl,194.0,Rush St & Superior St,161.0,member,2019,12,28,23,51 F,92,12 mph,0 mph,0.1 in,Rain,7,Winter Vacation
364814,25953041,2019-12-28 23:30:00,2019-12-28 23:34:00,Wentworth Ave & Cermak Rd (Temp),120.0,Normal Ave & Archer Ave,209.0,member,2019,12,28,23,51 F,92,12 mph,0 mph,0.1 in,Rain,7,Winter Vacation
364815,25953042,2019-12-28 23:35:00,2019-12-28 23:41:00,Hermitage Ave & Polk St,261.0,Western Ave & Congress Pkwy,382.0,member,2019,12,28,23,51 F,92,12 mph,0 mph,0.1 in,Rain,7,Winter Vacation
364816,25953043,2019-12-28 23:39:00,2019-12-28 23:45:00,Kedzie Ave & Milwaukee Ave,260.0,Kosciuszko Park,499.0,member,2019,12,28,23,51 F,92,12 mph,0 mph,0.1 in,Rain,7,Winter Vacation
364817,25953044,2019-12-28 23:45:00,2019-12-28 23:49:00,Cornell Ave & Hyde Park Blvd,417.0,Kimbark Ave & 53rd St,322.0,member,2019,12,28,23,51 F,92,12 mph,0 mph,0.1 in,Rain,7,Winter Vacation